<form class="col-xs-12 no-padding heightmax">
    <div class="col-xs-12 webcrawler heightmax alignitems-center {{searchlist}}">
        <div class="header col-xs-12">
            <div class="header-inner col-xs-12">
                <div class="col-xs-6 no-padding alignitems-center front-search">
                    <div class="pull-left col-xs-1 no-padding logo">
                        <img class="text-center" width="180px" src="/src/assets/images/crawler.png" />
                        <div class="header-title col-xs-12 no-padding">Webcrawler</div>
                    </div>
                    <div class="col-xs-12 search-field">
                        <div class="input-group">
                            <input type="text" #textvalue class="form-control" autocomplete="off" [(ngModel)]="searchText" placeholder="Enter/Drag url here!" id="url" required pattern="https?://.+" name="url" #url="ngModel" autofocus/>
                            <span class="input-group-addon">
                            <i class="material-icons">&#xE868;</i>
                    </span>
                            <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
                                <div [hidden]="!url.errors.required">
                                    URL is required!
                                </div>
                                <div [hidden]="!url.errors.pattern">
                                    Must be a valid URL!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions-btn col-xs-12 no-padding">
                         <button [disabled]="!url.valid" class="btn btn-default" (click)="search(textvalue.value)">Go</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper col-xs-12 no-padding">
            <div *ngIf="appService.preloader" class="col-xs-12 jsonviewer heightmax alignitems-center justify-center">
                <div class="cssload-container">
                    <div class="cssload-speeding-wheel"></div>
                </div>
            </div>
            <div *ngIf="appService.error" class="col-xs-12 jsonviewer heightmax alignitems-center justify-center">
                <div class="alerts text-center alignitems-center justify-center">
                    <i class="material-icons flatred">&#xE001;</i>
                    <span class="flatred">error</span>
                </div>
            </div>
            <div *ngIf="!appService.preloader && !appService.error" class="col-xs-12 jsonviewer overflowy heightmax">
                <pre>{{jsonData | json}}</pre>
            </div>
        </div>
    </div>
</form>